/* CSS Style */

.cover{
  width: 100% !important;
  height: 780px;
	background-image: url('image/cover2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover2{
  width: 100% !important;
  height: 500px;
  background-image: url('image/cover3.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-name{
  position:absolute;
  width:100%;
  height:30px;
  top:20%;
  text-align:right;
  right: 5.7%;
  opacity: 0.75;
  animation: fade-in 3s forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0.1;
  }
  20%{
    opacity: 0.3;
  }
  30%{
    opacity: 0.5;
  }
  40%{
    opacity: 0.75;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.3;
  }
  70%{
    opacity: 0.1;
  }
  80%{
    opacity: 0;
  }
  90%{
    opacity: 0.3;
  }
  100%{
    opacity: 0.75;
  }
}

.jumbotron{
	margin-bottom: 0rem !important;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  width: 100%;
  z-index:10;
  font-family: 'Kanit', sans-serif;
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #ffa700;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

a:hover{
  text-decoration: none;
  color:#000;
}

/*Menu icon CSS*/
.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
  font-family: 'Kanit', sans-serif;
}

/*Responsive design CSS*/
@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
    color:#fff;
  }
  
  nav ul {
    max-height: 0px;
    background: #ffa700;
    color:#fff;
  }
  
  nav.black ul {
    background: #ffa700;
    color:#fff;
  }
  
  .showing {
    max-height: 20em;
  }
  /*duh*/
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0px;
    text-align: center;
  }
  
  .menu-icon {
    display: block;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

#section03 { background: url(image/cover2.jpg) center center / cover no-repeat;}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.catsleep{
  width: 130px; 
  padding-top:50px; 
  position:fixed;
  bottom:0px;
  right:0px;
}

 #hairleft{
 transform: translate(-18) rotate(-15 50 30);
  animation: rotation 1s infinite alternate ease-in-out; 

}

@keyframe rotation{ from{}

}

#slogan {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(45deg, #0e77bb 0%, 
                                       #0e77bb 25%, 
                                       #f4dc75 51%, 
                                       #ffa700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#place {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(45deg, #fff 0%, 
                                       #f4dc75 25%, 
                                       #ffa700 51%, 
                                       #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#gift {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(45deg, #0e77bb 0%, 
                                       #0e77bb 25%, 
                                       #f4dc75 51%, 
                                       #0e77bb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

p{
  font-family: 'Kanit', sans-serif;
  font-size: 1.3em;
}

