@import url('https://fonts.googleapis.com/css?family=Kanit');

html{
  font-family: 'Kanit', sans-serif;
}

label{
  font-family: 'Kanit', sans-serif;
  color: #0b5d7c !important;
  font-size: 1.25em !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.5em;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 10px;
  padding: 12px 18px;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
  transition: background-color 0.4s ease-out;
  text-align: center;
  z-index: 99;
  border-bottom: 2px solid #00aff0;
}

nav span {
  font-weight: 600;
  letter-spacing: .085em;
}

/*nav:hover*/
nav.scroll {
  color: #fff;
  background-color: #00aff0;
  border-bottom: 2px solid #fff;
}

nav.scroll img {
  filter: brightness(0) invert(1);
}

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #00aff0;
    transition: 0.7s all linear;
    height: 100%;
}

/* LOGO BRAND */

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 50px;
    display: block;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
  display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
  display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }
    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}
/* */
.
.center{
  text-align: center;
}
.newpost{
  background-color: #fff;
  width: 100%;
  height: 6em;
  text-align: center;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  color:#00aff0;"
  padding-top: 2em;
}
.newpost:hover{
  background-color: #dddddd;
  text-align: center;
  color:#00aff0;
  cursor: pointer;
}
.announce1{
  font-size: 4em;
  font-weight: bold;
  color: #000;
  margin-left: 1.5em;
}

#newforum{
  color:#fff;
  border-color:#fff;
  width:100%;
}

#newforum:hover{
  color:#00aff0;
  border-color:#00aff0;
  background-color:#fff
}

#openPopUp{
  height: auto;
}
a#openPopUp:hover{
  cursor: pointer;
}
.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}

.popup .popUpContainer{
  width: 100%;
  max-width: 700px;
  position: fixed; /* To avoid scroll to target */
  left: 42%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999;
}
.popup h2{
  padding: 0.5em;
  text-align: center;
  color: #00aff0;
  margin: 0;
}
.popup img{
  width: 100%;
  display: block;
}
.popup article{
  height: auto;
  border-radius: 0px 0px 15px 15px;
  padding: 2em;
  background: url('../images/bg/bg_transparent_forum.png') #00aff0;
}
/* The cancel button on popup dialog */
.popup a.closePopUp{
  font-family: verdana;
  color: #00aff0;
  position: absolute;
  top: 0.4em;
  right: 0.65em;
  margin: 0;
  padding: 7px;
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: none;
}
/* The cancel button on popup dialog */
.popup a:hover{
  color: #c0392b;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
  opacity: 1;
  top: 0;
}
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.popup:target .popUpContainer{
  border-radius: 15px;
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .popup .popUpContainer{
    border-radius: 15px;
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    border-radius: 0px 0px 15px 15px;
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}


input[type=file] {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.fileName {
  padding-top: 10px;
  font-weight: 300;
}

.preview {
  position: relative;
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 100%;
  margin: 0 auto 25px auto;
  overflow: hidden;
  border: 5px solid #02a2de;
  background: url("../images/preview_1.jpg") center/cover;
}
.preview section img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.preview .loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  border: 5px solid #69CD9B;
  border-top: 5px solid #2FDEC1;
  border-radius: 100%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ghost{
  width: 330px;
  align-items: center;
  padding: 0px !important;
}

footer{
  padding: 4em;
  margin-top: 5em;
  margin-bottom: 0px;
  border-top: 3px solid #fff;
  background-color: #00aff0;
  color: #fff;
  width: 100%;
  height: 15em;
  position: relative;
  bottom: 0px;
}