@import url('https://fonts.googleapis.com/css?family=Kanit');

html{
  font-family: 'Kanit', sans-serif;
}

label{
  font-family: 'Kanit', sans-serif;
  color: #0b5d7c !important;
  font-size: 1.25em !important;
}

h1, .example-in-box{
  font-family: 'Kanit', sans-serif !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.5em;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 10px;
  padding: 12px 18px;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
  transition: background-color 0.4s ease-out;
  text-align: center;
  z-index: 99;
  border-bottom: 2px solid #00aff0;
}

nav span {
  font-weight: 600;
  letter-spacing: .085em;
}

/*nav:hover*/
nav.scroll {
  color: #fff;
  background-color: #00aff0;
  border-bottom: 2px solid #fff;
}

nav.scroll img {
  filter: brightness(0) invert(1);
}

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #00aff0;
    transition: 0.7s all linear;
    height: 100%;
}

/* LOGO BRAND */

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 50px;
    display: block;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
  display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
  display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }
    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}
/* */
.newpost{
  background-color: #fff;
  width: 100%;
  height: 3.5em;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color:#00aff0;
  border: 0px;
}
.newpost:hover{
  background-color: #dddddd;
  text-align: center;
  color:#00aff0;
  cursor: pointer;
}
.announce1{
  font-size: 4em;
  font-weight: bold;
  color: #000;
  margin-left: 0.5em;
}

@media only screen and (max-width: 767px) {
    .announce1 {
        text-align: center;
    }
}

#newforum{
  color:#fff;
  border-color:#fff;
  width:100%;
}

#newforum:hover{
  color:#00aff0;
  border-color:#00aff0;
  background-color:#fff
}

.example-in-box{
  color:#dfefff;
  background: #02a2de;
  border-radius: 15px;
  padding: 10px;
  margin:5px;
}
.in-box{
  background: #0390c5;
  border-radius: 15px;
  padding: 10px;
  margin:5px;
}

/* The Modal (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
    background: url('../assets/bg/bg_transparent_forum.png') #00aff0;
    border-radius: 15px;
    margin: auto;
    margin-top: 3.5%;
    margin-bottom:50px;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.popup-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.popup-close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close2:hover,
.popup-close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* UPLOAD IMAGE */

input[type=file] {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.fileName {
  padding-top: 10px;
  font-weight: 300;
}

.preview {
  position: relative;
  width: 12.5em;
  height: 12.5em;
  max-width: 100%;
  background: #f2f2f2;
  border-radius: 100%;
  margin: 0 auto 25px auto;
  overflow: hidden;
  border: 5px solid #02a2de;
  background: url('../assets/item/preview_1.jpg') center/cover;
}
.preview section img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.preview .loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  border: 5px solid #69CD9B;
  border-top: 5px solid #2FDEC1;
  border-radius: 100%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ghost{
  width: 330px;
  align-items: center;
  padding: 0px !important;
}

.box-view {
        position: relative;
        color: white;
        width:14em !important;
        height:14em !important;
        border-radius: 25px;
        transition: 0.5s;
        float: left;
        margin: 0.6em;
    }

    .box-view:hover{
        box-shadow:1px 2px 7px grey;
        cursor:pointer;
    }

    .txt-bottom-left {
        position: absolute;
        bottom:0px;
        left:0px;
        margin-bottom: 0.6em;
        margin-left: 1em;
        text-shadow: 1px 2px #000;
    }
    .txt-bottom-left h2 {
        font-size: 1.25em;
    }
    .txt-bottom-left p {
        font-size: 0.75rem;
    }


footer{
  padding: 3em;
  margin-top: 4em;
  margin-bottom: 0px;
  border-top: 3px solid #fff;
  background-color: #00aff0;
  color: #fff;
  min-width: 100%;
  height: 11em;
  position: relative;
  bottom: 0px;
}